.App {
  text-align: center;
}

.navbar {
  display: flex;
  box-shadow: 4px 4px 6px gray;
  justify-content: space-between;
}

.game {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 330px;
  width: 1020px;
  box-shadow: 4px 4px 10px gray;
}

.card {
  text-align: center;
  height: 120px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.card-blank {
  background: url("./Components/Cards/hello.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.hidden {
  display: none;
}
